@use "./abstracts/" as *;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;

  @include respond(tab-port) {
    font-size: 8px;
  }

  @include respond(phone) {
    font-size: 6px;
  }
}

body {
  background-color: #010101;
  padding: 4rem 6.6rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  position: relative;
  height: 100vh;
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  padding: 4rem 6.6rem;
  overflow: hidden;

  &__img {
    margin-top: 15rem;
    max-width: 50rem;
    object-fit: scale-down;
    margin-right: 10%;
    opacity: 0.8;
  }
}
