@use "../abstracts" as *;

.my-work {
  &__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
  }

  &__info {
    // border: 1px solid lightblue;
  }

  &__title {
    font-size: 12.8rem;
    color: #6262FF;
    line-height: 12.5rem;
  }

  &__desc {
    font-size: 2.4rem;
    line-height: 3.8rem;
  }

  &__images {
    // border: 1px solid lightcoral;
    align-self: center;
    position: relative;
    aspect-ratio: 16/9;
  }

  &__desktop-img {
    width: 100%;
    position: absolute;
  }

  &__mobile-img {
    position: absolute;
    max-height: 75vh;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
