@use "../abstracts" as *;

.my-work {
  margin-top: $margin-big;
  display: flex;

  &__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    @include respond(phone) {
      margin-bottom: $margin-big;
    }

    @include respond(tab-land) {
      margin-bottom: $margin-medium;
    }
  }

  &__title {
    font-size: 12.8rem;
    color: $blue;
    line-height: 12.5rem;
    margin-bottom: $margin-small;

    @include respond(phone) {
      font-size: 12rem;
    }

    @include respond(phone-narrow) {
      font-size: 11.5rem;
    }
  }

  &__desc {
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 300;
  }

  &__link-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $margin-medium;
    gap: 3rem;
  }

  &__link-icon {
    width: 4rem;
    cursor: pointer;

    &:last-child {
      width: 5rem;
    }
  }

  &__images {
    // border: 1px solid lightcoral;
    align-self: center;
    position: relative;
    // aspect-ratio: 16/9;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__desktop-img {
    // position: absolute;
    // max-height: 50vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    // right: 12rem;
    aspect-ratio: 16/9;
    height: 85%;

    & img {
      max-width: 100%;
    }

    @include respond(phone) {
      right: 0;
      top: 0;
      position: relative;
    }
  }

  &__mobile-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    // top: 50%;
    // transform: translateY(-50%);

    & img {
      // max-width: 100%;
      width: 100%;
      height: 100%;
    }

    @include respond(phone) {
      max-height: 30vh;
    }
  }
}
